@import "vendor/bootstrap.css";

.panel-left {
	float: left; 
	width: 5%;
	min-height: 700px;
}

.panel-right {
	float: left; 
	width: 95%;
	min-height: 700px; 
	overflow-x: auto; 
	border-left: 5px solid #424242; 
	border-top: 5px solid #424242;
	border-bottom: 5px solid #424242;
}

.ring-icon {
	text-align: center;
	height: 60px;	
	line-height: 60px;	
	cursor: pointer;
}

.controlador-image {
	margin-top: 10px;
	width:40%;
	margin-bottom: 10px;
}

.estagio-image {
	width:70%;
}

.semaforo-col {
	line-height: 30px;
	height: 30px;
	color: #f2f2f2;
	width: 140px;
}

.controlador-col-header {
	line-height: 30px;
	height: 30px;
	background: white !important;
	border-bottom: 5px solid;
}

.numero-estagio {
	font-size: 40px;	
}

.selected {
	color: black !important;
}

.unselected {
	color: #b3b3b3;
}

.dark-grey {
	background-color: #b3b3b3;
	border-color: #b3b3b3;
}

.green {
	background-color: #8CC63F;
	border-color: #8CC63F;
}

.yellow {
	background-color: #FCCE06;
	border-color: #b3b3b3;
}

.red {
	background-color: #ED1C24;
	border-color: #ED1C24;
}

.orange {
	background-color: #FF931E;
	border-color: #FF931E;
}

.purple {
	background-color: #662d91;
	border-color: #662d91;
}

.blue {
	background-color: #3fA9f5;
	border-color: #3fA9f5;
}

/* override map css */
.leaflet-control-search .search-tooltip {
    top: inherit !important;
    bottom: 100% !important;
}

.botaoAtivo {
    margin-right: -3px;
}

.botaoAtivo::after {
    content: "\25C0";
    text-align: right;
    float:right;
    font-weight: bold;
    font-size: 25px;
}

.tabela-horaria {
    font-weight: bold;
}

.tabela-detalhes {
    font-weight: bold;
    font-size: 18px;
}

/* texto em zebra na tabela */
.table-text-striped > tbody > tr:nth-of-type(odd) {
    color: #b3b3b3;
}

.table-text-striped > tbody > tr:nth-of-type(even) {
    color: #424242;
}