<div ng-show="object[key]"  ng-click="switchValue()">
	<img ng-src="{{checkedImage}}" width="50px" height="50px" style="cursor: pointer;">
</div>
<div ng-hide="object[key]" ng-click="switchValue()">
	<img ng-src="{{uncheckedImage}}" width="50px" height="50px" style="cursor: pointer;">
</div> 