<div ng-show="toggled"  ng-click="toggle()" ng-style="{'background-color' : '{{color}}', 'color' : 'white', 'border-width' : '1px', 'border-radius' : '2px', 'border-color' : '{{color}}', 'border-style' : 'solid', 'height' : '30px', 'margin' : '5px', 'text-align' : 'center', 'vertical-align' : 'middle', 'line-height': '30px', 'cursor' : 'pointer'}">
	{{text}}
</div>
<div ng-hide="toggled" ng-click="toggle()" ng-style="{'background-color' : 'white', 'border-width' : '1px', 'border-radius' : '2px', 'border-color' : '{{color}}', 'color' : '{{color}}', 'border-style' : 'solid', 'height' : '30px', 'margin' : '5px', 'text-align' : 'center', 'vertical-align' : 'middle', 'line-height': '30px', 'cursor' : 'pointer'}">
	{{text}}
</div> 