<div style="background-color:#363636; height: 40px; color:#f2f2f2; line-height: 40px;">
	<div style="float:left;" class="col-md-1">
		<div class="text-center">
			<i class="glyphicon glyphicon-align-justify"></i><span style="margin-left: 10px;">Menu</span>
		</div>
	</div>
	<div style="float:left;" class="col-md-11">
		<span style="margin-left: 10px;">Central de Operação de Semáforos de Tempo Fixo</span>
	</div>
	<div style="clear: both"></div>	
</div>
<img alt="" src="images/Background-reduzida.jpg" style="width: 100%; z-index: -1; position: relative;">
<div style="background-color:#424242; height: 40px; color:#f2f2f2; line-height: 40px;"></div>