<div class="container-fluid">

    <div class="col-md-3">
        <div class="controlador-col-header dark-grey"><b>CONTROLADOR</b></div>
        <div id="map" style="width:435px; height:200px"></div>
        <span style="font-size: 20px; font-weight: bold">{{controlador.nome}}</span>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <div class="controlador-col-header dark-grey"><b>DETALHES DO CONTROLADOR</b></div>
        <table class="table tabela-detalhes">
            <tbody>
            <tr ng-repeat="plano in controlador.planos">
                <td>{{plano.nome}} /</td>
                <td><a class="btn-sm">editar</a></td>
                <td><a class="btn-sm">excluir</a></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-sm btn-success btn-block" ng-click="editar(controlador.id)">Novo plano</button>
    </div>

    <div class="col-md-3 col-md-offset-1">
        <div class="controlador-col-header blue"><b>TABELA HORÁRIA</b></div>
        <table class="table table-text-striped tabela-horaria">
        <thead>
            <tr>
                <th>TROCA</th>
                <th>PLANO</th>
                <th>PERÍODO</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in tabela">
                <td>{{t.troca}}</td>
                <td>{{t.plano}}</td>
                <td>{{t.periodo}}</td>
            </tr>
        </tbody>
        </table>
        <button class="btn btn-sm btn-primary btn-block">Editar</button>
        <br/>
    </div>

</div>