<form ng-controller="PlanoControladorController">
	<div style="margin-top: -30px; color: #f2f2f2;">
		<div
			style="z-index: 99; margin-left: 3%; margin-top: -30px; float: left; height: 80px; width: 80px; background-color: #424242; border-radius: 50%;">
			<div
				style="border: 3px solid white; margin: 5px; border-radius: 50%; text-align: center; line-height: 65px; height: 70px; width: 70px;">
				{{anelLabel}}</div>
		</div>
		<div style="margin-left: 2%; float: left;">Plano {{plano.nome}}
			/ Anel {{anelLabel}}</div>
		<div style="clear: both;"></div>
	</div>
	<div>
		<div style="margin-left: 10%; height: 80px;" class="form-inline">
			<div class="input-group col-md-2" style="margin-right: 40px;">
				<label for="nome">NOME</label> <input type="text"
					class="form-control" id="nome" ng-model="plano.nome">
			</div>
			<div class="input-group col-md-2" style="margin-right: 40px;">
				<label for="tempoDeCiclo">TEMPO DE CICLO</label> <input type="text"
					class="form-control" id="tempoDeCiclo"
					ng-model="plano.tempoDeCiclo">
			</div>
			<div class="input-group col-md-2">
				<label for="tempoMaximoDeCiclo">TEMPO MÁXIMO DE CICLO</label> <input
					type="text" class="form-control" id="tempoMaximoDeCiclo"
					ng-model="plano.tempoDeCicloMaximo">
			</div>
		</div>

	</div>
	<div style="min-height: 700px;">
		<div class="panel-left">
			<div class="ring-icon" id="ring-id-1" ng-click="selectRing(0)"
				style="background: url('images/P11-05.svg') no-repeat center; background-size: 42px 42px">
				<!--<img src="images/P11-05.svg" class="controlador-image selected">-->
			</div>
			<div id="ring-id-2" class="ring-icon" ng-click="selectRing(1)"
				style="background: url('images/P11-06.svg') no-repeat center; background-size: 42px 42px">
				<!--<img src="images/P11-06.svg" class="controlador-image ">-->
			</div>
			<div id="ring-id-3" class="ring-icon" ng-click="selectRing(2)"
				style="background: url('images/P11-07.svg') no-repeat center; background-size: 42px 42px">
				<!--<img src="images/P11-07.svg" class="controlador-image ">-->
			</div>
			<div id="ring-id-4" class="ring-icon" ng-click="selectRing(3)"
				style="background: url('images/P11-08.svg') no-repeat center; background-size: 42px 42px">
				<!--<img src="images/P11-08.svg" class="controlador-image ">-->
			</div>
			<div id="ring-id-5" class="ring-icon" ng-click="selectRing(4)"
				style="background: url('images/P11-09.svg') no-repeat center; background-size: 42px 42px">
				<!--<img src="images/P11-09.svg" class="controlador-image ">-->
			</div>
			<div id="ring-id-6" class="ring-icon" ng-click="selectRing(5)"
				style="background: url('images/P11-10.svg') no-repeat center; background-size: 42px 42px">
				<!--<img src="images/P11-10.svg" class="controlador-image ">-->
			</div>
			<div id="ring-id-7" class="ring-icon" ng-click="selectRing(6)"
				style="background: url('images/P11-11.svg') no-repeat center; background-size: 42px 42px">
				<!--<img src="images/P11-11.svg" class="controlador-image ">-->
			</div>
			<div id="ring-id-8" class="ring-icon" ng-click="selectRing(7)"
				style="background: url('images/P11-12.svg') no-repeat center; background-size: 42px 42px">
				<!--<img src="images/P11-12.svg" class="controlador-image ">-->
			</div>
		</div>
		<div class="panel-right">
			<fieldset style="padding-left: 10px; width: 100%;">
				<div
					style="margin-left: -10px; background-color: #424242; color: #f2f2f2; height: 80px;">
					<div style="line-height: 80px; margin-left: 4%;">
						<label>TEMPO DE DEFASAGEM: </label> <input type="number"
							id="tempoDeDefasagem"
							style="height: 30px !important; border-radius: 4px; color: black; line-height: normal;">
						<label>TEMPO DE ESTÁGIO DISPENSÁVEL VINCULADO A: </label> <select
							style="height: 30px !important; border-radius: 4px; color: black">
							<option>Estágio 1</option>
						</select>
					</div>
				</div>
				<div style="overflow-x: auto">
					<table style="width: 100%;">
						<tr>
							<th></th>
							<th colspan=2><div class="controlador-col-header dark-grey">SELECIONE
									O TIPO</div></th>
							<th colspan=4><div class="controlador-col-header green">VERDE</div></th>
							<th colspan=1><div class="controlador-col-header yellow">AMARELO</div></th>
							<th colspan=2><div class="controlador-col-header red">VERMELHO</div></th>
							<th colspan=4><div class="controlador-col-header orange">BOTONEIRAS</div></th>
							<th colspan=8><div class="controlador-col-header purple">DETECTOR
									DE VEÍCULOS</div></th>
						</tr>
						<tr>
							<th></th>
							<th class="text-center"><img src="images/P11-18.png"
								class="controlador-image"></th>
							<th class="text-center"><img src="images/P11-19.png"
								class="controlador-image"></th>
							<th class="text-center"><img src="images/P11-20.png"
								class="controlador-image"></th>
							<th class="text-center"><img src="images/P11-21.png"
								class="controlador-image"></th>
							<th class="text-center"><img src="images/P11-22.png"
								class="controlador-image"></th>
							<th class="text-center"><img src="images/P11-23.png"
								class="controlador-image"></th>
							<th class="text-center"><img src="images/P11-24.png"
								class="controlador-image"></th>
							<th class="text-center"><img src="images/P11-25.png"
								class="controlador-image"></th>
							<th class="text-center"><img src="images/P11-26.png"
								class="controlador-image"></th>
							<th class="text-center"><img src="images/P11-38.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-37.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-36.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-35.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-34.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-33.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-32.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-31.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-30.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-29.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-28.png"
								width="50px" height="50px"></th>
							<th class="text-center"><img src="images/P11-27.png"
								width="50px" height="50px"></th>
						</tr>
						<tr>
							<th><div class="semaforo-col"
									style="width: 100px; color: black;">ESTÁGIO</div></th>
							<th><div class="semaforo-col text-center dark-grey">INDISPENSÁVEL</div></th>
							<th><div class="semaforo-col text-center dark-grey">VARIÁVEL</div></th>
							<th><div class="semaforo-col text-center green">USUAL</div></th>
							<th><div class="semaforo-col text-center green">MÍNIMO</div></th>
							<th><div class="semaforo-col text-center green">MÁXIMO</div></th>
							<th><div class="semaforo-col text-center green">EXTENSÃO</div></th>
							<th><div class="semaforo-col text-center yellow">ATENÇÃO</div></th>
							<th><div class="semaforo-col text-center red">INTERMITENTE</div></th>
							<th><div class="semaforo-col text-center red">DE
									LIMPEZA</div></th>
							<th colspan=4 class="semaforo-col text-center orange"></th>
							<th colspan=8 class="semaforo-col text-center purple"></th>
						</tr>
						<tr ng-repeat="estagio in anel.estagios">
							<th class="numero-estagio">{{estagio.id}}</th>
							<th><toggle-button text="'INDISPENSÁVEL'" color="'#B3B3B3'"></toggle-button>
							</th>
							<th><toggle-button text="'VARIÁVEL'" color="'#B3B3B3'"
									default="false"></toggle-button></th>
							<th><input ng-model="estagio.usual" class="form-control"
								type="number"></th>
							<th><input ng-model="estagio.minimo" class="form-control"
								type="number"></th>
							<th><input ng-model="estagio.maximo" class="form-control"
								type="number"></th>
							<th><input ng-model="estagio.extensao" class="form-control"
								type="number"></th>
							<th><input ng-model="estagio.atencao" class="form-control"
								type="number"></th>
							<th><input ng-model="estagio.internitente"
								class="form-control" type="number"></th>
							<th><input ng-model="estagio.deLimpeza" class="form-control"
								type="number"></th>
							<th style="padding-left: 3px;"><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosBotoeira[0].estagios"
									key="estagio.id" checked-image="'images/P11-39.png'"
									unchecked-image="'images/P11-38.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosBotoeira[1].estagios"
									key="estagio.id" checked-image="'images/P11-40.png'"
									unchecked-image="'images/P11-37.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosBotoeira[2].estagios"
									key="estagio.id" checked-image="'images/P11-41.png'"
									unchecked-image="'images/P11-36.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosBotoeira[3].estagios"
									key="estagio.id" checked-image="'images/P11-42.png'"
									unchecked-image="'images/P11-35.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosDeteccaoVeiculos[0].estagios"
									key="estagio.id" checked-image="'images/P11-43.png'"
									unchecked-image="'images/P11-34.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosDeteccaoVeiculos[1].estagios"
									key="estagio.id" checked-image="'images/P11-44.png'"
									unchecked-image="'images/P11-33.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosDeteccaoVeiculos[2].estagios"
									key="estagio.id" checked-image="'images/P11-45.png'"
									unchecked-image="'images/P11-32.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosDeteccaoVeiculos[3].estagios"
									key="estagio.id" checked-image="'images/P11-46.png'"
									unchecked-image="'images/P11-31.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosDeteccaoVeiculos[4].estagios"
									key="estagio.id" checked-image="'images/P11-47.png'"
									unchecked-image="'images/P11-30.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosDeteccaoVeiculos[5].estagios"
									key="estagio.id" checked-image="'images/P11-48.png'"
									unchecked-image="'images/P11-29.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosDeteccaoVeiculos[6].estagios"
									key="estagio.id" checked-image="'images/P11-49.png'"
									unchecked-image="'images/P11-28.png'"></image-checkbox-array></th>
							<th><image-checkbox-array
									array="anel.configuracao.estagiosAssociadosDeteccaoVeiculos[7].estagios"
									key="estagio.id" checked-image="'images/P11-50.png'"
									unchecked-image="'images/P11-27.png'"></image-checkbox-array></th>
						</tr>
						<tr>
							<th class="text-center">
								<button class="btn btn-default" ng-click="addEstagio()"
									title="adicionar estágio">
									<i class="glyphicon glyphicon-plus"></i>
								</button>
							</th>
							<th colspan="21"></th>
						</tr>
					</table>
					<div style="padding-bottom: 25px;"></div>
				</div>
			</fieldset>
		</div>
		<div style="clear: both;"></div>
	</div>
	<button class="btn btn-success pull-right" style="margin:5px;"ng-click="salvar()">Salvar</button>
</form>
<script>
</script>